
.Heading{
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
    
    
    background-color: #1459d1;
}
#navbar{
    display: flex;
    justify-content:center;
    align-items:center;
    color: aliceblue;
}
#bit{
   height: 30px;
   width: 100px ;
   font-weight: 500;
   font-size: medium;
   text-decoration: solid;
   border-radius: 4px;
  
    
   
    background-color:  #1459d1;
    color: antiquewhite;
    text-align: center;
}
.hd{
    color: antiquewhite;
}




.midpart {
    font-size: larger;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    text-align: center;
  
}


.Foot {
    text-align: center;
    height: 100px;



}

.bootum {

    text-align: center;
    height: 40px;
    margin: 0px;
    padding: 0%;
    background-color: #1459d1;
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}